body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f3e7ff, #8418ff);
    height: 100%;
}

header {
    padding: 20px 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px; 
    margin-right: 10px;
}

nav {
    flex-grow: 1;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 40px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #ffffff; /* Color al pasar el mouse */
}


/* IMAGENES 3D */
.image-container {
    position: relative;
    width: 340px;
    height: 300px;
}
.image-container img {
    position: absolute;
}
#img1, #img2, #img3 {
    position: absolute;
    opacity: 0; /* Inicialmente ocultas */
    transition: opacity 2s ease;
}

#img1 {
    transform: translate(30%, -10%);
}

#img2 {
    transform: translate(-5%, 50%);
}

#img3 {
    transform: translate(40%, 100%);
}
/* ANIMACION */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.6s ease forwards;
}


/* MAIN DIV */

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

h1 {
    font-size: 140px !important;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-content span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique;
    font-size: 120px;
}

.main-content p {
    font-family: 'Poppins', sans-serif;
    font-style:oblique;
    font-size: 40px !important;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    background:  linear-gradient(to right, #864dff, #8418ff);
    color: white;
    padding: 20px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
}
.cta-button img {
    width: 40px;
    margin-left: 20px;
}

/* imagen en la esquina */
.corner-image {
    position: absolute;
    top: 755px;
    right: 0;
    width: 500px;
    z-index: 0;
    transform: translateY(100%); /* Inicialmente oculta debajo */
    transition: transform 0.5s ease-out;
}

.corner-image img {
    max-width: 500px; 
    height: auto;
}

.corner-image.show {
    transform: translateY(0); /* Mueve la imagen a su posición final */
}


/* footer */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0;
    padding-bottom: 0;
    margin-top: 21rem;
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px;
    position: relative;
    z-index: 2;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-links {
    display: flex;
    gap: 290px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase; 
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s; /* Efecto de transición al pasar el mouse */
}

.footer-column ul li a:hover {
    color: #8548ff; /* Color al pasar el mouse */
}
.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 12px;
}

.footer-bottom p {
    font-family: 'Poppins', sans-serif;
    font-style:oblique;
    font-size: 25px !important;
    margin-bottom: 30px;
}

.footer-bottom span {
    font-size: 20px;
}