

/* Barra de navegacion */
header {
    padding: 20px 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px; 
    margin-right: 10px;
}
.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}
nav {
    flex-grow: 1;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
nav ul li a.active {
    font-weight: bold;
}

/* contenedor principal */
main{
    max-width: 900px;
    
    background-color: red;
}


/* Pie de Pagina */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
    margin-top: 21rem;
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px;
    position: relative;
    z-index: 2;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-links {
    display: flex;
    gap: 290px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase; 
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s; /* Efecto de transición al pasar el mouse */
}

.footer-column ul li a:hover {
    color: #f0f0f0; /* Color al pasar el mouse */
}
.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 12px;
}