body {
    background:
    radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%),
    radial-gradient(ellipse at 60% 20%, #bf4eb0 0%, transparent 70%),
    radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%),
    radial-gradient(ellipse at 100% 100%, #9f3c54 0%, transparent 70%),
    radial-gradient(ellipse at 20% 100%, #362d6f 0%, transparent 70%);
  background-blend-mode:screen;
}



/* Barra de navegacion */
header {
    padding: 20px 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 120px; 
    margin-right: 10px;
}
.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}
nav {
    flex-grow: 1;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
    padding: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
nav ul li a.active {
    font-weight: bold;
}

/* contenedor principal */
main{
    max-width: 900px;
    /* background-color: rgba(110, 68, 187, 0.765);   color de fondo anulado */
}

.columnas{
    margin: auto 0 auto 23px;
}


/* Columna de informacion de formulario */
#cont-formulario{
    background: linear-gradient(to right, rgb(171, 96, 174) , rgb(158, 99, 156));
}
#cont-formulario p a{
    color: blue;
}

#cont-formulario a img{
    width: 35px;
    height: 35px;
}

/* Fomulario de obtencion de datos */
#formulario{
    background-color: #f0f0f076;
}

#formulario .dat-cont{
    width: 98%;
    margin: 20px auto 20px auto;
    background-color:  #f0f0f076;
    border:none;
    border-bottom: 2px solid rgba(97, 86, 86, 0.582);
    border-radius: 6px;
    outline: none;
}

#formulario .btn {
    width: 98%;
    color: #e1d3d3;
    background: linear-gradient(to right, rgb(195, 62, 151), rgb(93, 30, 122));
    font-weight: 700;
}

/* Pie de Pagina */
.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
    margin-top: 21rem;
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px;
    position: relative;
    z-index: 2;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo img {
    width: 120px;
    height: auto;
}

.footer-links {
    display: flex;
    gap: 290px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase; 
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s; /* Efecto de transición al pasar el mouse */
}

.footer-column ul li a:hover {
    color: #f0f0f0; /* Color al pasar el mouse */
}
.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 12px;
}